In [1]:
import sys
import warnings
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
warnings.filterwarnings("ignore")
import importlib

In [10]:
sys.path.append('/Users/ydecarie/Dropbox (CEDIA)/simgem/simgen/simgen')

In [12]:
 import data

In [13]:
importlib.reload(data)

In [14]:
hh,sp,kd = data.bdsps('../raw/bdsps2017chsld.dta')

In [15]:
imm = hh[hh.newimm]
imm_nas = imm.index
sp_imm = sp.loc[sp.index.isin(imm_nas),:]
kd_imm = kd.loc[kd.index.isin(imm_nas),:]
kd_imm_hh =kd.loc[kd.index.isin(imm_nas),:]
newindex= list(np.arange(0,len(kd_imm_hh),1))
kd_imm_hh['ni']=newindex
kd_imm_hh=kd_imm_hh.set_index('ni')
kd_imm_hh.index+=max(hh.index)
imm= pd.concat([imm,kd_imm_hh])

In [16]:
imm = hh[hh.newimm]
imm_nas = imm.index
sp_imm = sp.loc[sp.index.isin(imm_nas),:]
kd_imm = kd.loc[kd.index.isin(imm_nas),:]
kd_imm_hh =kd.loc[kd.index.isin(imm_nas),:]
for i in kd_imm_hh.index:
    kd_imm_hh.loc[i,'yrsimm'] = hh.loc[i,'yrsimm'] 
kd_imm_hh = kd_imm_hh[kd_imm_hh['yrsimm']<=kd_imm_hh['age']]
newindex= list(np.arange(0,len(kd_imm_hh),1))
kd_imm_hh['ni']=newindex
kd_imm_hh=kd_imm_hh.set_index('ni')
kd_imm_hh.index+=max(hh.index)
imm= pd.concat([imm,kd_imm_hh])

In [17]:
parsing = data.parse()

In [18]:
parsing.map_hh['educ'] = 'educ4'
parsing.map_hh['insch'] = 'inschool'
parsing.map_sp['educ'] = 'educ4'
parsing.map_sp['insch'] = 'inschool'
parsing.map_kd['insch'] = 'inschool'

In [19]:
hh = parsing.dominants(hh)
sp = parsing.spouses(sp)
kd = parsing.kids(kd)

In [92]:
imm = parsing.dominants(imm)
sp_imm = parsing.spouses(sp_imm)
kd_imm = parsing.kids(kd_imm)

In [21]:
pop = data.population()
pop.input(hh,sp,kd)
pop.save('startpopchsld')

In [94]:
newimm = data.population()
newimm.input(imm,sp_imm,kd_imm)
newimm.save('newimmpopchsld')

In [44]:
inst = hh['chsld']==1
df_inst=hh[inst]
df_inst['wgt'].sum()

39305.76919220898

In [46]:
df_inst

              wgt   byr   male  educ  insch  nkids  married  chsld
nas
2074    51.794347  1952  False   des  False      0    False    1.0
2156   267.610570  1918  False   uni  False      0    False    1.0
2175   298.118771  1946  False   des  False      0    False    1.0
2320    31.284744  1952   True  none  False      0    False    1.0
5003   304.652924  1925  False  none  False      0    False    1.0
...           ...   ...    ...   ...    ...    ...      ...    ...
58166  709.577261  1936  False  none  False      0    False    1.0
58168   28.129961  1943  False  none  False      0    False    1.0
58170  405.679073  1940  False  none  False      0    False    1.0
58179   34.986041  1949  False  none  False      0    False    1.0
59574   81.770914  1943   True  none  False      0    False    1.0

[101 rows x 8 columns]

In [48]:
df_inst.to_csv('/Users/ydecarie/Dropbox (CEDIA)/COVID19/chsld/BDSPS/pers_inst.csv')