# Statistiques

La classe statistiques permet d'abord de collecter la population par un grand nombre de variable pour chaque année. Avec ce cube de données, la classe permet ensuite de sortir les statistiques de nombres et proportions. On en donne un exemple ici.

## Simulation scénario de référence

In [6]:
import sys
sys.path.append('/Users/ydecarie/Dropbox (CEDIA)/OLG_CAN/demo/simgen/')
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [7]:
from simgen import model

In [8]:
base = model(start_yr=2017,stop_yr=2060)
base.startpop('startpop')
base.immig_assumptions(init='newimmpop')
base.birth_assumptions()
base.dead_assumptions()
base.reset()

In [9]:
base.simulate()

In [10]:
base.stats.save('simpop.pkl')

## Le cube de donnée

À l'intérieur d'un modèle, une instance de la classe stats a été lancée. Elle définie des stratas pour cumuler les fréquences d'individus. Par défaut, elle fait (age,male,educ,married,nkids). Après avoir crée l'instance, le modèle va l'initatiser en utilisant la population de départ. Il va ensuite la populer avec les années subséquentes de la simulation. On peut voir ce cube à l'aide de stats.counts.

In [6]:
base.stats.counts.head()

                                            2017          2018          2019  \
age male  insch educ married nkids
0   False False none False   0      41147.053669  39121.460845  43867.821446
    True  False none False   0      43254.336754  43582.680064  38384.343765
1   False False none False   0      42429.834730  41147.053669  39121.460845
    True  False none False   0      44761.254288  43254.336754  43468.289828
2   False False none False   0      43641.572534  42429.834730  41141.225804

                                            2020          2021          2022  \
age male  insch educ married nkids
0   False False none False   0      43848.427217  40951.344755  41075.372985
    True  False none False   0      38788.993308  41801.545684  42135.382610
1   False False none False   0      43867.821446  43707.887386  40809.644600
    True  False none False   0      38384.343765  38648.453477  41801.545684
2   False False none False   0      38892.680372  43867.821446  43567.347556

                                            2023          2024          2025  \
age male  insch educ married nkids
0   False False none False   0      41345.687574  41026.875972  41089.658649
    True  False none False   0      41345.687574  41972.740548  41438.862547
1   False False none False   0      41075.372985  41345.687574  40908.642900
    True  False none False   0      42135.382610  41345.687574  41854.507476
2   False False none False   0      40809.644600  40942.871782  41103.899927

                                            2026  ...          2052  \
age male  insch educ married nkids                ...
0   False False none False   0      41736.753265  ...  43403.321959
    True  False none False   0      40551.050047  ...  42178.228194
1   False False none False   0      41089.658649  ...  42105.178572
    True  False none False   0      41438.862547  ...  43582.553259
2   False False none False   0      40790.409828  ...  43216.684295

                                            2053          2054          2055  \
age male  insch educ married nkids
0   False False none False   0      41166.868750  43429.040917  41733.990273
    True  False none False   0      44157.624172  42203.221213  43654.801541
1   False False none False   0      43228.308564  41166.868750  43253.923816
    True  False none False   0      42178.228194  44157.624172  42203.221213
2   False False none False   0      41920.506737  43053.295169  41166.868750

                                            2056          2057          2058  \
age male  insch educ married nkids
0   False False none False   0      44554.822359  41371.170428  43932.519510
    True  False none False   0      40947.144436  44072.961150  41264.552738
1   False False none False   0      41733.990273  44374.438463  41371.170428
    True  False none False   0      43480.182335  40947.144436  44072.961150
2   False False none False   0      43253.923816  41733.990273  44194.054567

                                            2059          2060          2061
age male  insch educ married nkids
0   False False none False   0      41532.022203  40193.363336  43535.737294
    True  False none False   0      43549.772270  44837.929766  41216.210307
1   False False none False   0      43754.655058  41363.876364  40193.363336
    True  False none False   0      41264.552738  43549.772270  44837.929766
2   False False none False   0      41202.308508  43576.790607  41363.876364

[5 rows x 45 columns]

## Population par âge et totale

On peut obtenir la population totale en utilisant la fonction

In [ ]:
base.stats.freq()

Et un beau graphique en rajoutant plot()

In [ ]:
base.stats.freq().plot()

On voit qu'on a un problème au départ. Pour diagnostiquer, allons voir la population par âge:

In [ ]:
popage = base.stats.freq('age')
popage.head()

On peut exprimer en proportion...

In [ ]:
base.stats.prop('age').head()

In [ ]:
base.stats.prop('age',bins=[0,18,65,101]).plot.area()

In [ ]:
freqs = base.stats.freq('age',bins=[0,18,80,101])

In [ ]:
freqs

In [ ]:
(490848.58/335590.5)**(1/10)-1.0

In [ ]:
44000*0.0387

In [ ]:
44000/335590 * (490848.58-335590.5)

## Autres variables et sous-ensemble

In [ ]:
peduc = base.stats.prop('educ',sub='age>=30')[['none','des','dec','uni']].plot.area()

On peut aussi rajouter des conditions pour regarder des sous-groupes

In [ ]:
base.stats.prop('married',sub='age>18').plot.area()

In [ ]:
base.stats.prop('nkids',sub='age>=18 & age<=45 & male==False').plot.area()